/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use '@angular/material' as mat;
@use '../theme-colors' as m3;
@use './assets/layout/layout.scss';
@use 'ngx-toastr/toastr';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone');



html {
  @include mat.theme((
          color: (
                  primary: m3.$primary-palette,
                  tertiary: m3.$tertiary-palette,
                  theme-type: light,
          ),
          typography: ('Poppins', sans-serif),
          density: -1
  ));
};